<!DOCTYPE html>
<html>
<head>
    <title>Posts in {{ category }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js" defer></script>
</head>
<body>
    <h1>Posts in {{ category }}</h1>
    <ul>
        {% for post in posts %}
        <li>{{ post }}</li>
        {% endfor %}
    </ul>
</body>
</html>
