<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ article.url }}">{{ article.title }}</a>
                <p>{{ article.description }}</p>
            </li>
        {% endfor %}  <!-- Corrected this line -->
    </ul>
</body>
</html>
